#home {
    background-image: url('../pic/bg.jpg');
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#home .home-layer {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    width: 100%;
}

#home{
    color: aliceblue;

}
.pris{
    margin: auto;
    width: 50%;
    height: 60px;
    text-align: center;
}





.former{
    background-color: #113946f1;
    color: #FFF2D8;
    border-radius: 3%;
    padding-block: 20px;

}

.bot-style{
    background-color: #BCA37F;
    color: #FFF2D8;
    width: 100%;
    margin-bottom: 10px;
    padding-block: 10px;

}
.bot-style:hover{
    background-color: #EAD7BB;
}
